---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Backlinks from '../components/Backlinks.astro';
import Footer from '../components/Footer.astro';
import Giscus from '../components/Giscus.astro';
import FormattedDate from '../components/FormattedDate.astro';
import '@fontsource-variable/noto-serif-kr';

type Props = CollectionEntry<'notes'>['data'];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} />
		<style>
			main {
				font-family: 'Noto Serif KR Variable', serif;
			}
			.title {
				margin-bottom: 2rem;
				padding: 2rem 0;
				line-height: 1;
			}
			.title .date,
			.title .author {
				font-size: var(--sm);
			}

			.title h1 {
				margin-top: 0;
			}

			.title h1,
			.title .navi,
			.title .date {
				margin-bottom: 0.85rem;
			}
			.del {
				display: inline-block;
				text-decoration:line-through;
				color: #ccc;
			}
			.last-updated-on {
				margin: 0 0.5rem;
			}

			.prose {
				color: var(--text);

				a > span {
					font-size: 0.85rem;
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-weight: 400;
					font-size: var(--sm);
				}

				.by {
					font-size: 0.8rem;
				}
			}

			.separator {
				margin: 0 0.25rem;
			}
		</style>
	</head>

	<body>
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							{
								!updatedDate && (
									<FormattedDate date={pubDate} />
								)
							}
							{
								updatedDate && (
									<span class="del">
										<FormattedDate date={pubDate} />
									</span>
									<span class="last-updated-on">
										<FormattedDate date={updatedDate} />
									</span>
								)
							}
						</div>
						<div class="navi">
							<div class="author">
								<span class="by">by</span>
								<a href="/">유지이</a>
							</div>
							<span class="separator"> · </span>
							<div class="navi_item">
								<a href="/notes">기록</a>
							</div>
							<span class="separator"> · </span>
							<div class="navi_item">
								<a href="/writing">이야기</a>
							</div>
						</div>
					</div>
					<slot />
				</div>
			</article>
			<Backlinks />
		</main>
		<Footer />
		<Giscus />
	</body>
</html>
