---
import type { CollectionEntry } from 'astro:content';
import { BaseHead, Backlinks, Footer, Giscus, FormattedDate } from '@components/index';
import { useTranslations } from '../i18n/utils';
import '@fontsource-variable/noto-serif-kr';

const t = useTranslations();
type Props = CollectionEntry<'writing'>['data'];

const { title, pubDate, updatedDate } = Astro.props.frontmatter;
---

<html lang="en">
	<head>
		<BaseHead title={title} />
		<style lang="scss">
			.title {
				margin-bottom: 2rem;
				padding: 2rem 0;
				line-height: 1;
			}
			.title .date,
			.title .author {
				font-size: var(--sm);
			}

			.title h1 {
				margin-top: 0;
			}

			.title h1,
			.title .navi,
			.title .date {
				margin-bottom: 0.85rem;
			}
			.del {
				display: inline-block;
				text-decoration:line-through;
				color: #ccc;
			}
			.last-updated-on {
				margin: 0 0.5rem;
			}

			.prose {
				color: var(--text);

				a > span {
					font-size: var(--sm);
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-weight: 400;
					font-size: var(--sm);
				}

				.by {
					font-size: var(--xs);
				}
			}

			.separator {
				margin: 0 0.5rem;
			}

			.separator:nth-last-child(2) {
				color: #eee;
			}
		</style>
	</head>

	<body>
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							{
								!updatedDate && (
									<FormattedDate date={pubDate} />
								)
							}
							{
								updatedDate && (
									<span class="del">
										<FormattedDate date={pubDate} />
									</span>
									<span class="last-updated-on">
										<FormattedDate date={updatedDate} />
									</span>
								)
							}
						</div>
						<div class="navi">
							<div class="author">
								<span class="by">by</span>
								<a href="/">{t('home.name')}</a>
							</div>
							<span class="separator"> … </span>
							<div class="navi_item">
								<a href="/note">{t('home.menu1')['title']}</a>
							</div>
							<span class="separator">　|　</span>
							<div class="navi_item">
								<a href="/writing">{t('home.menu2')['title']}</a>
							</div>
						</div>
					</div>
					<div class="contents">
						<slot />
					</div>
				</div>
			</article>
			<Backlinks />
		</main>
		<Footer />
		<Giscus />
	</body>
</html>
