---
import type { CollectionEntry } from 'astro:content';
import { BaseHead, Backlinks, Footer, Giscus, FormattedDate } from '@components/index';
import { useTranslations } from '../i18n/utils';
import '@fontsource-variable/noto-serif-kr';
import post_lang_mapping from "../components/posts.json"

const { title, pubDate, updatedDate, lang, uid } = Astro.props.frontmatter;
const t = useTranslations(lang);
type Props = CollectionEntry<'writing'>['data'];

---

<html lang={lang ?? "ko"}>
	<head>
		<BaseHead title={title} />
		<style lang="scss">
			.lang_selector {
				display: flex;
				flex-direction: row-reverse;

				& a {
					padding: 0.25rem 0.5rem;
					text-decoration: none;
					color: var(--link);
					box-shadow: 0 0 2px 0px #ccc;
					margin: 0 0.25rem;

					&:hover {
						cursor: pointer;
					}
				}
			}
			.title {
				padding: 2rem 0;
				line-height: 1;
			}
			.title .date,
			.title .author {
				font-size: var(--sm);
			}

			.title h1 {
				margin-top: 0;
			}

			.title h1,
			.title .navi,
			.title .date {
				margin-bottom: 0.85rem;
			}
			.del {
				display: inline-block;
				text-decoration:line-through;
				color: #ccc;
			}
			.last-updated-on {
				margin: 0 0.5rem;
			}

			.prose {
				color: var(--text);

				a > span {
					font-size: var(--sm);
				}
			}

			.navi {
				display: flex;
				align-items: center;
				
				a {
					color: inherit;
					font-weight: 400;
					font-size: var(--sm);
				}

				.by {
					font-size: var(--xs);
				}
			}

			.separator {
				margin: 0 0.5rem;
			}

			.separator:nth-last-child(2) {
				color: #eee;
			}
		</style>
	</head>

	<body>
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							{
								!updatedDate && (
									<FormattedDate date={pubDate} />
								)
							}
							{
								updatedDate && (
									<span class="del">
										<FormattedDate date={pubDate} />
									</span>
									<span class="last-updated-on">
										<FormattedDate date={updatedDate} />
									</span>
								)
							}
						</div>
						<div class="navi">
							<div class="author">
								<span class="by">by</span>
								<a href={`/${lang && lang != "ko" ? lang : ''}`}>{t('home.name')}</a>
							</div>
							<span class="separator"> … </span>
							<div class="navi_item">
								<a href=`${lang && lang != "ko" ? '/' + lang : ''}/note`>{t('home.menu1')['title']}</a>
							</div>
							<span class="separator">　|　</span>
							<div class="navi_item">
								<a href=`${lang && lang != "ko" ? '/' + lang : ''}/writing`>{t('home.menu2')['title']}</a>
							</div>
						</div>
					</div>
					<div class="contents">
						<div class="lang_selector">
							{ lang != 'ko' && post_lang_mapping[uid]['ko'] && <a href={"/writing/" + uid + "/"}>가</a> }
							{ lang != 'ja' && post_lang_mapping[uid]['ja'] && <a href={"/ja/writing/" + uid+"-ja/"}>あ</a> }
							{ lang != 'en' && post_lang_mapping[uid]['en'] && <a href={"/en/writing/" + uid+"-en/"}>A</a> }
						</div>
						<slot />
					</div>
				</div>
			</article>
			<Backlinks />
		</main>
		<Footer lang={lang} />
		<Giscus />
	</body>
</html>
